<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29379866804-4f9rldkhh81dbv94g6iv0kfl45f4utck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29379866804-4f9rldkhh81dbv94g6iv0kfl45f4utck</string>
	<key>API_KEY</key>
	<string>AIzaSyDHIram77cCQROuZE1jncM5EanjrTeiM6o</string>
	<key>GCM_SENDER_ID</key>
	<string>29379866804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.charity</string>
	<key>PROJECT_ID</key>
	<string>charity-3e95f</string>
	<key>STORAGE_BUCKET</key>
	<string>charity-3e95f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29379866804:ios:50e40c3e9351ade3dce7e1</string>
</dict>
</plist>